* {
    margin: 3px;
    padding: 3px;
}

body {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  line-height: 2;
  font-family: 'Courier New', Courier, monospace;
  color: greenyellow;
  background-color: black;
}

.header {
  display: flex;
  align-items: left;
  font-size: 60px;
  color:blueviolet;
  padding: 20px;
}

#scoreList {
  color: greenyellow;
  text-align: center;
  font-size: 50px;
}

button {
  margin: 30px;
  padding: 15px;
  background-color: rgb(108, 230, 255);
  color: black;
  border: 3px solid #ff00c3;
}