* {
    margin: 0px;
    padding: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-image: url("./images/Arcade-Game-Screen.jpg");
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  padding: 140px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  line-height: 2;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

.header {
  font-family: 'Press Start 2P', monospace;
  font-size: 40px;
  text-align: center;
  color: rgb(22, 0, 58);
  padding: 10px;
}

.hide {
  display: none;
}

#timerBox {
  position: fixed;
  top: 25px;
  right: 55px;
  font-size: 25px;
}

#timer {
  position: fixed;
  top: 21px;
  right: 5px;
  font-size: 30px;
  color: red;
}

h2, p {
  background-color:rgb(65, 47, 78);
}

button {
  margin: 30px;
  padding: 15px;
  background-color: rgb(108, 230, 255);
  color: black;
  border: 3px solid #ff00c3;
  align-content: center;
}

.choice:hover {
  background-color: greenyellow; 
  box-shadow: 0 0 10px grey;
}

.choice:active {
  background-color: white;
}

a {
  color:#ff00c3;
  align-content: center;
}

@media screen and (max-width: 1000px) {
body {
  padding: 20px;
  font-size: 15px;
  }
.header {
  font-size: 20px;
}
}

@media screen and (max-width: 500px) {
body {
  background-repeat: repeat-y;
  padding: 20px;
  font-size: 12px;
  }
.header {
  font-size: 20px;
  }
}
