* {
    margin: 3px;
    padding: 3px;
}

body {
  background-image: url("./images/Brains-Quiz-Bkgrd.jpg");
  background-size: 70%;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  line-height: 2;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

.header {
  font-size: 40px;
  padding: 10px;
  background-color:rgb(200, 236, 254);
}

.hide {
  display: none;
}

div {
  background-color: rgb(200, 236, 254);
  border-style:outset
}

#timerBox {
  position: fixed;
  top: 25px;
  right: 55px;
  font-size: 25px;
}

#timer {
  position: fixed;
  top: 21px;
  right: 5px;
  font-size: 30px;
  color: red;
}

.questions
.endScreen {
  background-color:rgb(200, 236, 254);
  font-size: 20px;
}

button {
  margin: 30px;
  padding: 15px;
  background-color: rgb(108, 230, 255);
  color: black;
  border: 3px solid #ff00c3;
}

.choice:hover {
  background-color: greenyellow; 
  box-shadow: 0 0 10px grey;
}

.choice:active {
  background-color: white;
}
